.background{
    background-image: url('../assets/image/bg-shadow.png');
    background-size: cover;
    background-position: center;
    height: 450px;
    padding-top: 40px;
    background-color: black;
}

.news-later{
    background-image: url('../assets/image/bg-shadow.png');
    background-size: cover;
    background-position: center;
    padding: 40px;
    width: 95%;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
   
}

.active{
    background-color: #E7FE29;
    color: white;
}

.btn{
    padding: 15px;
    cursor: pointer;
}